<h3>Leave a comment</h3>
<%= form_for [current_application, model,comment], html: { class: "form-horizontal new_comment", role: "form" } do |f| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if comment.parent %>
    <%= f.hidden_field :parent, :value => comment.parent %>
  <% end %>
  
  <div class="form-group">
	<%= f.label :author, class: "col-lg-1 control-label" %>
    <div class="col-lg-5">
      <%= f.text_field :author, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
	<%= f.label :text, class: "col-lg-1 control-label" %>
    <div class="col-lg-11">
      <%= f.text_area :text, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-5">
		<%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  </div>
 <% end %>
