<div id="accesses" class="row well">

  <h4>Users</h4>

  <div class="new_mail_form">
    <%= form_for(Invitation.new(application_id: current_application), method: :put, url: invite_application_settings_url(current_application), html: {class: "form-inline"}) do |f| %>
        <div class="form-group">
          <%= f.text_field :email, placeholder: "Email of the person you want to invite", size: 50 %>
        </div>

        <%= f.submit "Invite", class: "btn btn-primary"%>

    <% end %>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Pending Invitations</th>
    </tr>
    </thead>
    <tbody>
    <% @invitations.each do |invite| %>
        <tr>
          <td><%= invite.email %></td>
        </tr>
    <% end %>
    </tbody>
  </table>




  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Authorized Users</th>
    </tr>
    </thead>
    <tbody>
    <% @accesses.each do |access| %>
        <tr>
          <td><%= access.user.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
