<div id="jira" class="row well">
	<h4>Jira integration</h4>

	<% if Jira::Client.enabled? && Jira::Client.default_client.connected? %>
	<p>
		Host: <%= link_to Jira::Client.default_client.host, Jira::Client.default_client.host, target: "blank"%> <br/>
		User: <%= Jira::Client.default_client.user %>
	</p>
		<%= form_tag(application_setting_update_jira_url(current_application.id, @settings.id), method: "put", class: "form-horizontal", role: "form") do %>
			<div class="form-group">
			    <label class="col-sm-2 control-label">Project</label>
			    <div class="col-sm-3">
					<%= select_tag "project", options_for_select(@jira_projects.map{|p| [p.name, p.key]}, @jira_project_key), class: "form-control"%>
			    </div>
			 </div>

			<div class="form-group">
			    <label class="col-sm-2 control-label">Issue Type</label>
			    <div class="col-sm-3">
					<% @jira_projects.each do |project| %>

						<%= select_tag "issue_#{project.key}", options_for_select(project.issue_types.map{|i| [i.name, i.id]}, @jira_issue_id), class: "issue form-control" %>
					<% end %>
			    </div>
			 </div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
					<%= submit_tag("Save", class: 'btn btn-default', type: "submit") %>
			    </div>
			 </div>
		<% end %>
	<% end %>
</div>

<script>
// change the issue select to display the issues of the selected project
$(function() {
	var project_key = "<%= @jira_project_key %>"
	$('select.issue:not(#issue_'+project_key+')').hide();
	$('select.issue#issue_'+project_key).show();
});

$("select#project").change(function() {
    var project_key = $(this).val();
	$('select.issue:not(#issue_'+project_key+')').hide();
	$('select.issue#issue_'+project_key).show();
});
</script>
