<div id="reports">
  <h1>Reports</h1>

  <ul class="nav nav-pills nav-justified reports-nav">
    <% Report::STATUS.each_key do |status| %>
        <li class="<%= "active" if @status == status %>">
            <%= link_to status.to_s.gsub('_', ' ').capitalize, application_reports_url(current_application, scope: status)  %>
        </li>
    <% end %>
  </ul>

  <table class="table table-bordered table-hover">
  	<thead>
    	<tr>
    	  <th>Title</th>
  		  <th>Created at</th>
		  <% if Report::STATUS[@status] > Report::STATUS[:available_on_next_build]%>
  		   <th>Fix version</th>
		  <% end %>
    	  <th></th>
   		</tr>
  	</thead>
  	<tbody>
  		<% @reports.each do |report| %>
  		  <tr>
  		    <td><%= report.title || "No title" %></td>
  			<td><%= report.created_at ? report.created_at.to_formatted_s(:short) : "N/A" %></td>
  		  <% if Report::STATUS[@status] > Report::STATUS[:available_on_next_build]%>
			<td><%= report.build.nil? ? "n/a" : link_to(report.build.title, report.build.itunes_url) %></td>
  		  <% end %>
  		    <td><%= link_to 'Show', application_report_path(current_application, report), class: "btn btn-primary" %></td>
  		  </tr>
  		<% end %>	
  	</tbody>
  </table>
</div>
