
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @report.title %></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Status:</strong>
      <span class="label label-info">
      <% if status_title(@report.status + 1) %>
        <%= status_title(@report.status) %></span> Mark as
        <%= link_to status_title(@report.status + 1), application_report_update_status_path(current_application, @report), method: :put %> ?
      <% end %>
    </p>
    <p>
      <strong>Fix in build:</strong>
      <%= @report.build.nil? ? "n/a" : link_to(@report.build.title, @report.build.itunes_url)  %>
    </p>
    <p>
      <strong>Device:</strong>
      <%= @report.device_model || "n/a" %>
    </p>

    <p>
      <strong>OS:</strong>
      <%= @report.os_version || "n/a" %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @report.message %>
    </p>

  </div>
</div>


<ul id="myTab" class="nav nav-pills">
  <% if @report.screen_capture_file_name %>
    <li><a href="#video" data-toggle="tab">Video</a></li>
    <li><a href="#screenshot" data-toggle="tab">Screenshot</a></li>
  <% else %>
    <li><a href="#screenshot" data-toggle="tab">Screenshot</a></li>
  <% end %>
  <li><a href="#dumped-view" data-toggle="tab">Dumped View</a></li>
  <li><a href="#logs" data-toggle="tab">Logs</a></li>
  <% if @report.crash_logs %>
  <li><a href="#crash" data-toggle="tab">Crash</a></li>
  <% end %>
  <li><a href="#comments">Comments</a></li>

  <% if @report.jira_ticket %>
  <li class="pull-right"><%= link_to "Jira ticket", @report.jira_ticket, target: "blank" %></li>
  <% elsif @show_jira %>
  <li class="pull-right"><%= link_to "Create Jira ticket", report_create_jira_issue_url(@report), method: :post %></li>
  <% end %>
</ul>

<div id="myTabContent" class="tab-content">
  <% if @report.screen_capture_file_name %>
	 <div class="tab-pane fade in active" id="video">
     <p><a href="<%= @report.screen_capture.url %>">Download</a></p>
     <video width="320" height="480" controls>
       <source src="<%= @report.screen_capture.url %>" type="video/mp4">
     </video>
	 </div>
   <% end %>
   
	 <div class="tab-pane fade" id="screenshot">
	 	 <p><%= screenshot_tag(@report) %></p>
	 </div>
	 <div class="tab-pane fade" id="logs">
	 	<p><%= raw(logs_to_html(@report.logs)) %></p>
	 </div>
   <% if @report.crash_logs %>
	   <div class="tab-pane fade" id="crash">
	 	   <p><%= simple_format h(@report.crash_logs) %></p>
	   </div>
   <% end %>
	 <div class="tab-pane fade" id="dumped-view">
	 	<pre class=""><%= simple_format dumped_view_to_html(@report.dumped_view), {style: "width=300%"} %></pre>
	 </div>
</div>

<hr/>
 <div class="" id="comments">
  <% @report.comments_list.each do |comment| %>
  <div class="well comment level_<%= comment.level %>" style="margin-left: <%= comment.level * 20 %>px">
    <p class="author"> <%= comment.author %> <%= comment.level > 1 ? "replied:" : "commented:" %></p>
    <p class="content"> <%= comment.text %> </p>
    <!--<%= link_to "Reply", new_application_report_comment_path(current_application, :report_id => @report.id.to_s, :parent => comment.id.to_s), class: "reply" %>-->
  </div>
  <% end %>
  <div id="new_comment">
    <%= render :partial => '/comments/form', :locals => {:model => @report, :comment => Comment.new}%>
  </div>
</div> <!-- comments -->


<script>
  $(function () {
      $('#myTab a:first').tab('show');
  })
</script>