<p id="notice"><%= notice %></p>

<h3><%= @report.title %></h3>
<p> 
	<span class="label label-info"><%=status_title(@report.status)%></span> 
	<% if status_title(@report.status + 1) %>
		<%= link_to status_title(@report.status + 1), report_update_status_path(@report), method: :put, class: "btn btn-success btn-mini"%>
	<% end %>
</p>
<p>
	<%= @report.message %>
</p>

<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#screenshot" data-toggle="tab">Screenshot</a></li>
  <li><a href="#dumped-view" data-toggle="tab">Dumped View</a></li>
  <li><a href="#logs" data-toggle="tab">Logs</a></li>
  <li><a href="#crash" data-toggle="tab">Crash</a></li>
</ul>

<div id="myTabContent" class="tab-content">
	 <div class="tab-pane fade in active" id="screenshot">
	 	 <p><%= screenshot_tag(@report) %></p>
	 </div>
	 <div class="tab-pane fade" id="logs">
	 	<p><%= raw(logs_to_html(@report.logs)) %></p>
	 </div>
	 <div class="tab-pane fade" id="crash">
	 	<p><%= simple_format h(@report.crash_logs) %></p>
	 </div>
	 <div class="tab-pane fade" id="dumped-view">
	 	<pre class=""><%= simple_format dumped_view_to_html(@report.dumped_view), {style: "width=300%"} %></pre>
	 </div>
</div>


<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>