<p id="notice"><%= notice %></p>


<% if status_title(@report.status + 1) %>
<span class="pull-right status_box">
	<p>Update status</p>
	<%= link_to status_title(@report.status + 1), report_update_status_path(@report), method: :put, class: "btn btn-success btn-mini"%>
</span>
<% end %>

<div class="row report_header">
	<span class="label label-info"><%=status_title(@report.status)%></span> 
	<h3><%= @report.title %></h3>  
	<% if @report.status > Report::STATUS[:available_on_next_build]%>
	<p class="fix_version">
		Fix version: <%= @report.fix_version || "N/A" %>
	</p>
	<% end %>
</div>




<p class="well message">
	<%= @report.message %>
</p>

<ul id="myTab" class="nav nav-tabs">
  <% if @report.screen_capture_file_name %>
    <li class="active"><a href="#video" data-toggle="tab">Video</a></li>
    <li><a href="#screenshot" data-toggle="tab">Screenshot</a></li>
  <% else %>
    <li class="active"><a href="#screenshot" data-toggle="tab">Screenshot</a></li>
  <% end %>
  <li><a href="#dumped-view" data-toggle="tab">Dumped View</a></li>
  <li><a href="#logs" data-toggle="tab">Logs</a></li>
  <% if @report.crash_logs %>
  <li><a href="#crash" data-toggle="tab">Crash</a></li>
  <% end %>
  <li><a href="#comments">Comments</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <% if @report.screen_capture_file_name %>
	 <div class="tab-pane fade in active" id="video">
     <p><a href="<%= @report.screen_capture.url %>">Download</a></p>
     <video width="320" height="480" controls>
       <source src="<%= @report.screen_capture.url %>" type="video/mp4">
     </video>
	 </div>
   <% end %>
   
	 <div class="tab-pane fade" id="screenshot">
	 	 <p><%= screenshot_tag(@report) %></p>
	 </div>
	 <div class="tab-pane fade" id="logs">
	 	<p><%= raw(logs_to_html(@report.logs)) %></p>
	 </div>
   <% if @report.crash_logs %>
	   <div class="tab-pane fade" id="crash">
	 	   <p><%= simple_format h(@report.crash_logs) %></p>
	   </div>
   <% end %>
	 <div class="tab-pane fade" id="dumped-view">
	 	<pre class=""><%= simple_format dumped_view_to_html(@report.dumped_view), {style: "width=300%"} %></pre>
	 </div>
</div>

<hr/>
 <div class="" id="comments">
  <%= link_to "Leave a comment", "#new_comment", class: "btn btn-primary" %>
  <% @report.comments_list.each do |comment| %>
  <div class="well comment level_<%= comment.level %>" style="margin-left: <%= comment.level * 20 %>px">
    <p class="author"> <%= comment.author %> <%= comment.level > 1 ? "replied:" : "commented:" %></p>
    <p class="content"> <%= comment.text %> </p>
    <%= link_to "Reply", new_report_comment_path(:report_id => @report.id.to_s, :parent => comment.id.to_s), class: "reply" %>
  </div>
  <% end %>
  <div id="new_comment">
    <%= render :partial => '/comments/form', :locals => {:model => @report, :comment => Comment.new}%>
  </div>
</div> <!-- comments -->


<script>
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>