<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ShakeReport" %></title>
    <%= csrf_meta_tags %>


	<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

  <% if current_user %>
      <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="<%= root_url %>" class="navbar-brand">Shake Report</a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li>
                <% if current_user %>
                    <%= link_to current_user.name+"  - Sign out", signout_path %>
                <% else %>
                    <%= link_to "Sign in with Github", "/auth/github" %>
                <% end %>
              </li>
              <% if current_user %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <% current_user.applications.each do |app| %>
                          <li><%= link_to app.name, "#"  %></li>
                      <% end %>
                    </ul>
                  </li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Open", application_reports_url(current_application)  %></li>
                  <li><%= link_to "On next build", application_reports_url(current_application,scope: :available_on_next_build)  %></li>
                  <li><%= link_to "Ready to test", application_reports_url(current_application, scope: :ready_to_test)  %></li>
                  <li><%= link_to "Archived", application_reports_url(current_application, scope: :archived)  %></li>
                </ul>
              </li>
              <li><%= link_to "Mailing", alert_mails_url  %></li>
              <li><%= link_to "Settings", application_settings_url(current_application)  %></li>
            </ul>
            <%= form_tag(new_build_reports_path, method: :put, class: "navbar-form navbar-right") do %>
                <div class="form-group">
                  <%= text_field_tag 'version', params[:version], class: "form-control", placeholder: "version number" %>
                </div>
                <%= submit_tag 'New Build', class: "btn btn-warning", confirm: "When you create a new build, all the reports in 'available in the next build' will be in 'ready to be tested'. Are you sure you want to continue?" %>
            <% end %>
          </nav>
        </div>
      </header>
  <% end %>


	<div class="bs-header" id="content">
    <div class="container">
      <div class="row">
	    <div class="col-lg-12">
	      <%= yield %>
	    </div>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->
    </div> <!-- /container -->

  </body>
</html>
